<!--include header-->
<%-include('include/_header')%>
<!--/include header-->

    <!--Main-->
    <main id="main-site">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/"><i class="fas fa-angle-double-left"></i> Todas as caixas</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">Nova caixa</h2>
                <span class="text-light">Crie uma nova caixa</span>
            </div>

            <!--add caixa form-->
            <%-include('include/_form')%>

        </div>
    </main>
    <!--/Main-->

<!--include footer-->
<%-include('include/_footer')%>
<!--/include footer-->
