<form action="/api/users" method="POST" id="add_caixa">
    <div class="nova_caixa">
        <div class="form-group">
            <label for="nome" class="text-light">Nome</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="nome" value="" placeholder="Nome da caixa">
        </div>
        <div class="form-group">
            <label for="descricao" class="text-light">Descrição</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="descricao" value="" placeholder="L=1 A=1 C=1">
        </div>
    </div>
    <div class="form-group">
        <label for="quantidade" class="text-light">Quantidade</label>
        <input type="hidden" name="id" value="">
        <input type="text" name="quantidade" value="" placeholder="Quantidade de caixas">
    </div>

    <div class="form-group">
        <button type="submit" class="btn text-dark update">Cadastrar</button>
    </div>
</div>

</form>